<!--banner-starts-->
<div class="bnr" id="home">
  <div class="callbacks_container" id="top">
    <ul class="rslides" id="slider4">
      <li>
        <%= image_tag 'bnr-1.jpg', alt: 'First Banner' %>
      </li>
      <li>
        <%= image_tag 'bnr-2.jpg', alt: 'Second Banner' %>
      </li>
      <li>
        <%= image_tag 'bnr-3.jpg', alt: 'Third Banner' %>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<!--banner-ends-->

<% if @brands.nil? %>
  <h2>No Brands</h2>
<% else %>

  <!--about-starts-->
  <div class="about">
    <div class="container">
      <div class="about-top grid-1">
        <% @brands.each do |brand| %>
          <div class="col-md-4 about-ledt">
            <figure class="effect-bubba">
              <%= image_tag brand.img, alt: "Brand", class: "img-responsive" %>
              <figcaption>
                <h2><%= brand.title %></h2>
                <p><%= brand.description %></p>
              </figcaption>
            </figure>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--about-end-->
<% end %>

<% if @hits.nil? %>
  <h2>No Hits</h2>
<% else %>
  <!-- product-starts-->
  <div class="product">
    <div class="container">

    </div>
  </div>
  <!-- product-end-->
<% end %>
