<div class="top-header">
  <div class="container">
    <div class="top-header-main">
      <div class="col-md-6 top-header-left">
        <div class="drop">
          <div class="box">
            <select tabindex="4" class="dropdown drop">
              <option value="" class="label">Dollar :</option>
              <option value="1">Dollar</option>
              <option value="2">Euro</option>
            </select>
          </div>
          <div class="box1">
            <select tabindex="4" class="dropdown">
              <option value="" class="label">English :</option>
              <option value="1">English</option>
              <option value="2">Russian</option>
              <option value="3">French</option>
            </select>
          </div>
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" id="account-dropdown">
              <% if user_signed_in? %>
                <% if current_user.try(:admin?) %>
                  <li>
                    <%= link_to 'Administrator', '#', style: "color: red;" %>
                  </li>
                  <li>
                    <%= link_to 'API', '/oauth/applications', style: "color: blue;" %>
                  </li>
                  <li class="dropdown-divider"></li>
                <% end %>
                <li>
                  <a>
                    Welcome, <%= current_user.email %>
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                  <%= link_to 'Edit', edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Sign In', new_user_session_path %>
                </li>
                <li>
                  <%= link_to 'Sign Up', new_user_registration_path %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 top-header-left">
        <div class="cart box_1">

          <a href="/cart" onclick="getCart(); return false;">
            <div class="total">
              <%= image_tag 'cart-1.png', alt: 'Cart' %>
              <span class="simpleCart1_total">
                <% if current_cart.empty? %>
                  Empty Cart
                <% else %>
                  <%= format('%.2f', current_cart.total_price) %> $
                <% end %>
              </span>
            </div>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
