/ start-breadcrumbs
.breadcrumbs
  .container
    .breadcrumbs-main
      %ol.breadcrumb
        %li
          %a{:href => "/"} Home
        %li Edit
/ end-breadcrumbs
.prdt
  .container
    .prdt-top
      .col-md-12
        .product-one.signup
          .register-top.heading
            %h2 EDIT PROFILE
          .register-main
            .col-md-6.col-md-offset-3.account-left
              = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                = f.error_notification
                .form-group.has-feedback
                  = f.input :email,                                                                     |
                    required: true,                                                                     |
                    autofocus: true,                                                                    |
                    input_html: { autocomplete: "email", class: "form-control", placeholder:  "Email" } |
                .form-group.has-feedback
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %p
                      Currently waiting confirmation for: #{resource.unconfirmed_email}
                .form-group.has-feedback
                  = f.input :password,                                                                            |
                    required: false,                                                                              |
                    hint: "leave blank if you don't want to change it",                                           |
                    input_html: { autocomplete: "new-password", class: "form-control", placeholder:  "Password" } |
                .form-group.has-feedback
                  = f.input :password_confirmation,                                                                       |
                    required: false,                                                                                      |
                    input_html: { autocomplete: "new-password", class: "form-control", placeholder:  "Confirm Password" } |
                .form-group.has-feedback
                  = f.input :current_password,                                                                                |
                    required: true,                                                                                           |
                    hint: "we need your current password to confirm your changes",                                            |
                    input_html: { autocomplete: "current-password", class: "form-control", placeholder:  "Current Password" } |
                .form-actions
                  = f.button :submit, "Update", class: "btn btn-default"
              %br/
              %h4.text-muted Cancel my account
              %p
                Unhappy?
                \#{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn text-danger"}
              = link_to "Back", :back, class: "btn btn-default"
