<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Forgot your password?</li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-12">
        <div class="product-one signup">
          <div class="register-top heading">
            <h2>FORGOT YOUR PASSWORD?</h2>
          </div>

          <div class="register-main">
            <div class="col-md-6 col-md-offset-3 account-left">
              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= f.error_notification %>
                <div class="form-group has-feedback">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email", class: "form-control", placeholder:  "Email" }
                  %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Send me reset password instructions", class: "btn btn-default" %>
                </div>
              <% end %>

              <p><%= render "devise/shared/links" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
