.w_sidebar
  %section.sky-form
    %h4 Categories
    .row1.scroll-pane
      .col.col-4
        %label.checkbox
          %input{:checked => "checked", :name => "checkbox", :type => "checkbox"}/
          = succeed "All" do
            %i
      .col.col-4
        %label.checkbox
          %input{:type => "checkbox"}/
          = succeed "Men" do
            %i
        %label.checkbox
          %input{:type => "checkbox"}/
          = succeed "Woman" do
            %i
        %label.checkbox
          %input{:type => "checkbox"}/
          = succeed "Kids" do
            %i
  %section.sky-form
    %h4 Brand
    .row1.row2.scroll-pane
      .col.col-4
        %label.checkbox
          %input{:checked => "checked", :name => "checkbox", :type => "checkbox"}/
          = succeed "Ecco" do
            %i
      .col.col-4
        %label.checkbox
          %input{:name => "checkbox", :type => "checkbox"}/
          = succeed "Gucci" do
            %i
        %label.checkbox
          %input{:name => "checkbox", :type => "checkbox"}/
          = succeed "Hugo" do
            %i
        %label.checkbox
          %input{:name => "checkbox", :type => "checkbox"}/
          = succeed "Lacoste" do
            %i
        %label.checkbox
          %input{:name => "checkbox", :type => "checkbox"}/
          = succeed "Prada" do
            %i
  %section.sky-form
    %h4 Color
    %ul.w_nav2
      %li
        %a.color1{:href => "#"}
      %li
        %a.color2{:href => "#"}
      %li
        %a.color3{:href => "#"}
      %li
        %a.color4{:href => "#"}
      %li
        %a.color5{:href => "#"}
      %li
        %a.color6{:href => "#"}
      %li
        %a.color7{:href => "#"}
      %li
        %a.color8{:href => "#"}
      %li
        %a.color9{:href => "#"}
      %li
        %a.color10{:href => "#"}
      %li
        %a.color11{:href => "#"}
      %li
        %a.color12{:href => "#"}
      %li
        %a.color13{:href => "#"}
      %li
        %a.color14{:href => "#"}
      %li
        %a.color15{:href => "#"}
      %li
        %a.color16{:href => "#"}
      %li
        %a.color17{:href => "#"}
      %li
        %a.color18{:href => "#"}
      %li
        %a.color19{:href => "#"}
      %li
        %a.color20{:href => "#"}
      %li
        %a.color21{:href => "#"}
  %section.sky-form
    %h4 Discount
    .row1.row2.scroll-pane
      .col.col-4
        %label.radio
          %input{:name => "radio", :type => "radio"}/
          = succeed "60" do
            %i
        %label.radio
          %input{:name => "radio", :type => "radio"}/
          = succeed "50" do
            %i
        %label.radio
          %input{:name => "radio", :type => "radio"}/
          = succeed "40" do
            %i
      .col.col-4
        %label.radio
          %input{:name => "radio", :type => "radio"}/
          = succeed "30" do
            %i
        %label.radio
          %input{:name => "radio", :type => "radio"}/
          = succeed "20" do
            %i
        %label.radio
          %input{:name => "radio", :type => "radio"}/
          = succeed "10" do
            %i
