-#
  .w_sidebar
    %section.sky-form
      %h4 Categories
      .row1.scroll-pane
        .col.col-4
          %label.checkbox
            %input{:type => "checkbox"}/
            = succeed "Men" do
              %i
          %label.checkbox
            %input{:type => "checkbox"}/
            = succeed "Woman" do
              %i
          %label.checkbox
            %input{:type => "checkbox"}/
            = succeed "Kids" do
              %i
    %section.sky-form
      %h4 Brand
      .row1.row2.scroll-pane
        .col.col-4
          %label.checkbox
            %input{:checked => "checked", :name => "checkbox", :type => "checkbox"}/
            = succeed "Ecco" do
              %i
        .col.col-4
          %label.checkbox
            %input{:name => "checkbox", :type => "checkbox"}/
            = succeed "Gucci" do
              %i
          %label.checkbox
            %input{:name => "checkbox", :type => "checkbox"}/
            = succeed "Hugo" do
              %i
          %label.checkbox
            %input{:name => "checkbox", :type => "checkbox"}/
            = succeed "Lacoste" do
              %i
          %label.checkbox
            %input{:name => "checkbox", :type => "checkbox"}/
            = succeed "Prada" do
              %i

= simple_form_for :search, url: product_index_path, method: "GET" do |f|
  = f.input :categories, label: "Category", collection: Category.all.map(&:title), as: :check_boxes
  = f.input :brands, label: "Brand", collection: Brand.all.map(&:title), as: :check_boxes
  = f.submit "Search", class: "btn btn-primary"
  = link_to "Reset", product_index_path
