<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags title: @page_title, description: @page_description, keywords: @page_keywords %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="content">
    <%= yield %>
  </div>
  </body>
</html>
