!!!
%html{:lang => "en"}
  %head
    = display_meta_tags title:        @page_title        || 'Shoe Store',
                        description:  @page_description  || 'The Best Fake Shoe Store That Ever Existed',
                        keywords:     @page_keywords     || 'Shoe Store Man Woman Kids'
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", :type => "text/javascript"}
      :cdata
  %body
    / top-header
    = render 'include/main/top_header'
    / top-header
    / notifications
    = render 'include/main/notifications'
    / notifications
    / start-logo
    .logo
      = link_to root_path do
        %h1 ShoeShop
    / start-logo
    / bottom-header
    = render 'include/main/bottom_header'
    / bottom-header
    .content
      = yield
    / footer
    = render 'include/main/footer'
    / footer
